@import "./App.css";

/* Remove browser default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center; /* Vertical */
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}
